<div class="forms">
    <h1>Christian's <a href="https://twitter.com/trini_bot" target="_blank">Twitter Bot</a></h1>
    <form id="myForm" method="post" action="/">
        <p>Tweet something</p>
        <input type="text" name="theTweet">
        <button class="tweet" type="submit">Submit</button>
        <div class="output1"></div>
    </form>

    <form id="followForm" method="post" action="/">
        <p> Follow A User</p>
        <input type="text" name="theUser">
        <button class="follow" type="submit">Submit</button>
        <div class="output2"></div>
    </form>

    <form id="retweetForm" method="post" action="/">
        <p>Retweet something</p>
        <input type="text" name="theRetweet">
        <button class="retweet" type="submit">Submit</button>
        <div class="output3"></div>
    </form>

    <form id="likeForm" method="post" action="/">

        <p>Like something</p>
        <input type="text" name="theLike">
        <button class="like" type="submit">Submit</button>
        <div class="output4"></div>
    </form>
</div>