<form id="myForm" method="post" action="/">
Make Tweet:
    <input type="text" name="theTweet">
    <button class="tweet" type="submit">Submit</button>
</form>

<form id="followForm" method="post" action="/">
Follow A User:
    <input type="text" name="theUser">
    <button class="follow" type="submit">Submit</button>
</form>

<form id="retweetForm" method="post" action="/">
Retweet something:
    <input type="text" name="theRetweet">
    <button class="retweet" type="submit">Submit</button>
</form>

<form id="likeForm" method="post" action="/">
Like something:
    <input type="text" name="theLike">
    <button class="like" type="submit">Submit</button>
</form>

<div class="output">

</div>
<!--<input type="submit" name="1">-->
<img src="" alt="">